= form_for @site do |f|
  - if @site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :site_versions_count
    = f.number_field :site_versions_count
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :last_crawled_at
    = f.datetime_select :last_crawled_at
  .actions
    = f.submit 'Save'
