.page-header
  = link_to crawl_sites_path, method: :post, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-refresh
    Crawl Site
  = link_to new_site_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Site

  %h1 Listing sites

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.text-center
          = sort_link @q, :name
        %th.text-center
          = sort_link @q, :url
        %th.text-center
          = sort_link @q, :status, 'Status'
        %th.text-center
          = sort_link @q, :last_crawled_at
        %th

    %tbody
      - @sites.each do |site|
        %tr
          %td= site.name
          %td= site.url
          %td.text-center= site.status
          %td.text-right= time_ago_in_words site.last_crawled_at
          %td.text-center= link_to 'Show', site
  = paginate @sites