.page-header
  = link_to new_site_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Site
  %h1 Listing sites

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Url
        %th Site versions count
        %th Status
        %th Last crawled at
        %th
        %th
        %th

    %tbody
      - @sites.each do |site|
        %tr
          %td= site.name
          %td= site.url
          %td= site.site_versions_count
          %td= site.status
          %td= site.last_crawled_at
          %td= link_to 'Show', site
          %td= link_to 'Edit', edit_site_path(site)
          %td= link_to 'Destroy', site, data: { confirm: 'Are you sure?' }, method: :delete
