%style
  = Diffy::CSS
.page-header
  = link_to sites_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_site_path(@site), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show site

%dl.dl-horizontal
  %dt Name:
  %dd= @site.name
  %dt Url:
  %dd= @site.url
  %dt Site versions count:
  %dd= @site.site_versions_count
  %dt Status:
  %dd= @site.status
  %dt Last crawled at:
  %dd= @site.last_crawled_at

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
\|
= link_to 'Check', site_check_path(@site), method: :post

%hr
  -if @current_body.try(:checksum) == @previous_body.try(:checksum)
    %p 差分はありません
  -else
    .scroll
      = raw Diffy::Diff.new(diff_str(@previous_body.try(:body)), diff_str(@current_body.try(:body)) ).to_s(:html_simple) if @current_body.present?


= javascript_tag do
  $(function() {
  var pos = $("li.ins").position();
  $(".scroll").stop().animate({scrollTop: pos.top - 100}, 500, 'swing');
  });

