%style
  = Diffy::CSS

%p#notice= notice

%p
  %b Name:
  = @site.name
%p
  %b Url:
  = @site.url
%p
  %b Site versions count:
  = @site.site_versions_count
%p
  %b Status:
  = @site.status
%p
  %b Last crawled at:
  = @site.last_crawled_at

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path

%hr
  -if @current_body.try(:checksum) == @previous_body.try(:checksum)
    %p 差分はありません
  -else
    = raw Diffy::Diff.new(diff_str(@current_body.try(:body)), diff_str(@previous_body.try(:body))).to_s(:html_simple) if @current_body.present?