= form_for @site_version do |f|
  - if @site_version.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site_version.errors.count, "error")} prohibited this site_version from being saved:"
      %ul
        - @site_version.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :site_id
    = f.number_field :site_id
  .field
    = f.label :checksum
    = f.text_field :checksum
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
